* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  background-color: rgb(93, 90, 90);
}

.image {
  background-image: url(photo-1568269477456-11e3f3b5c7a5.png);
  background-position: center;
  background-size: auto;
  /* background-repeat: no-repeat; */
  width: 40vw;
}

.second-box {
  display: flex;
  flex-direction: column;

  width: 60vw;
}
.right {
  height: 33%;
}

.info-text {
  padding: 0 20px;
}

.form-info {
  height: 34%;
  background-color: rgb(131, 28, 151);
  display: flex;
  flex-direction: column;

}

.input {
}

.button {
}
