:root {
  --image-colors: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  font-family: 'Inter', sans-serif;
}

.left {
  width: 40vw;
  height: 100vh;
  position: relative;
}

#image {
  background-position: center;
  background-size: auto;
  /* background-repeat: no-repeat; */
  width: 40vw;
}

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--image-colors);
}

.photo-from {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--image-colors);
}

.right {
  width: 60vw;
  height: 100vh;
}

.small-container {
  height: 30%;
}

.top {
  flex: 1 0 auto;
}
.middle {
  flex: 1 0 auto;
  margin: 10px 20px;
}

.input {
  display: flex;
  flex-direction: column;

  margin: 15px 0;
  font-size: 1em;
}

input {
  padding: 5px -5px;
  width: 20%;
  border: none;
  border-radius: 5px;
}

.bottom {
  flex: 1 0 auto;
}
