:root {
  --background-color: rgb(249, 250, 251);
  --form-color: rgb(255, 255, 255);
  --button-font-color: rgb(10, 35, 53);
  --button-color: rgb(236, 143, 111);
  --font-color-form: rgb(72, 79, 89);
  --form-input-color: rgb(255, 254, 254);
  --font-color: rgb(10, 33, 50);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
}

.hero {
  flex-grow: 1;
  position: relative;
  width: 40vw;
  min-width: 345px;
  height: 100vh;
  background: url(./mehdi-messrro-M42bFz7miy4-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.17);
}

.credit {
  position: absolute;

  bottom: 10px;
}

.info-section {
  flex-grow: 3;

  display: flex;
  flex-direction: column;
}

.top-section {
  flex: 1 1 0;

  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.sentences {
  flex: 4 1 0;
  margin: 30px 50px;

  font-weight: 600;
  color: var(--font-color);
}

.sentence-one {
  padding-bottom: 20px;
}

.empty-box {
  flex: 1 0 auto;
}

.form-section {
  flex: 1 1 0;

  display: flex;

  background-color: var(--form-color);
}

.left-side {
  flex: 6 1 0;
  margin: 60px 50px;
}

.lets-do-this {
  margin-top: -30px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 1.2em;
}

#form-info {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;

  font-size: 0.8em;
}

.right-side {
  flex: 1 1 0;
}

.bottom-section {
  flex: 1 1 0;
  display: flex;
  background-color: var(--background-color);
  justify-content: flex-start;
  margin: 30px 50px;
}

.small-container {
  align-self: flex-start;
}

button {
  padding: 8px 20px;
  margin-bottom: 20px;
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  color: var(--button-font-color);
}
